<!-- (submit)='onSelect(selectForm)' -->
<form  class='mt-5' #selectForm='ngForm' (submit)='configureView(selectForm)'>
   <div class="form-group d-flex">
     <label for="sel1">Starting page:</label>
     <select class="form-control nav-select mr-1 ml-1" name='startingPage' ngModel #startingPage='ngModel'>
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
     </select>
     <label for="sel1">Items per page:</label>
     <select class="form-control ml-1 mr-3 nav-select" name='itemsPerPage' ngModel #pagesNumber='ngModel'>
       <option>1</option>
       <option>10</option>
       <option>25</option>
     </select>
     <button class="btn btn-primary">Select</button>
   </div>

 </form>
