
  <h5 class='text-danger text-center'>This section is open for you for demo purposes only. Unless you have an admin permission you cannot perform any actions</h5>
  <h3 *ngIf='categoriesList == undefined || categoriesList.length <= 0; else elseBlock'>No orders made yet!</h3>
  <ng-template #elseBlock>
  <div class="row" *ngFor = 'let category of categoriesList'>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{category.name}}</h5>
        <button (click)='onCategoryDelete(category._id)' class="btn btn-danger mr-3">Remove Category</button>
        <button (click)='onCategoryEdit(category._id)' class="btn btn-info ">Edit Category</button>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="card-body">
       <img src="{{category.imagePath}}" style='width: 6rem' alt="">
    </div>
    </div>
  </div>
</ng-template>
