<app-navigation></app-navigation>
<div class='component-parent'>
  <div class="d-flex justify-content-center" *ngIf='isLoading'>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div class="card col-sm-4" style="width: 14rem;" *ngFor='let item of items'>
      <h5 class="card-title text-center">{{item.title}}</h5>
      <a routerLink="/item-details/{{item._id}}" class="btn btn-info mb-1">Details</a>
      <img class="card-img-top" style="max-height: 12rem;" [src]="item.imagePath" [alt]="item.title">
      <div class="card-body">
        <h6 class="card-text" *ngIf='!item.price; else elseBlock'>Free of charge</h6>
        <ng-template #elseBlock>Price: {{item.price}}$</ng-template>
        <p class="card-text">{{item.description}}</p>
      </div>
    </div>
  </div>

</div>
