
<div class="d-flex justify-content-center" *ngIf='isLoading'>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<h2 class='text-center mb-3'>Manage your items!</h2>
<h2 *ngIf='items.length <= 0'> No Items Added yet</h2>
<div class="row">
  <div class="card col-sm-4 border-0" style="width: 25%;" *ngFor='let item of items'>
    <img class="card-img-top item-image" [src]="item.imagePath" [alt]="item.title">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.description}}</p>
      <div class='mt-auto'>
        <a routerLink="/edit/{{item._id}}" class="btn btn-primary mr-3" >Edit</a>
        <a (click)='deleteItem(item._id)' class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

