<div class="d-flex justify-content-center" *ngIf='isLoading'>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
  <h3 *ngIf='isLoading'>Loading</h3>
  <h3 *ngIf='!isLoading && (cartItems == undefined || cartItems.length <= 0); else elseBlock'>No orders made yet!</h3>
<ng-template #elseBlock>
  <div class="row" *ngFor = 'let item of cartItems'>
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">{{item.productId.title}}</h5>
        <p class="card-text">{{item.productId.description}}</p>
        <button (click)='onItemDelete(item._id)' class="btn btn-danger ">Remove from Cart</button>
    </div>
    </div>
    <div class="col">
      <div class="card-body">
        <h6>Price: {{item.productId.price}}$</h6>
       <img src="{{item.productId.imagePath}}" style='width: 7rem' alt="">
    </div>
    </div>
  </div>
  <button (click)='orderItems()' class="btn btn-primary btn-lg">Order now</button>
 </ng-template>


