<div class="d-flex justify-content-center" *ngIf='isLoading'>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="login">
  <div class="login-header">
    <h1>Reset your password!</h1>
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" *ngIf='!isLoading'>
    <div class="login-form">
      <h4>ENTER YOUR NEW PASSWORD</h4>
      <input
        type="password"
        class="input"
        formControlName='password'>
        <br>
      <span *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched" class="help-block">Please enter a password</span>
      <br>
      <h4>REPEAT YOUR NEW PASSWORD</h4>
      <input
        type="password"
        class="input"
        formControlName='passwordRepeat'>
        <br>
      <span *ngIf="!resetPasswordForm.get('passwordRepeat').valid && resetPasswordForm.get('passwordRepeat').touched" class="help-block">Password must be identical</span>
      <!-- <input type="hidden" formControlName='userId' value={{userId}}>
      <input type="hidden" formControlName='passwordToken' value={{passwordToken}}> -->
      <!-- <input type="hidden" name='_csrf' value={{csrfToken}}> -->
      <br>
      <button type="submit" class='login-button'>Reset password</button>
      <br>
      <span *ngIf="!resetPasswordForm.valid && resetPasswordForm.touched" class="help-block">You must fill in the form correctly</span>
    </div>
  </form>
