<div class="justify-content-center align-items-center container w-50">
 <div class="row">
  <form [formGroup]="itemCreateForm" id="new-item-form" (ngSubmit)="onSaveItem()" enctype="multipart/form-data" class="form-margin-top">
    <div class="form-group">
      <h5 for="book-name">Item Title</h5>
      <input
        name='title'
        type="text"
        class="form-control"
        placeholder="Insert item name"
        formControlName="title">
      <span class='text-danger' *ngIf='itemCreateForm.controls.title.invalid && itemCreateForm.controls.title.touched'>This field cannot be left empty!</span>
      <h5 for="book-name">Sell or Give Away?</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" id="defaultCheck1" name='giveAway' formControlName='giveAway' (change)='togglePriceView()'>
        <label class="form-check-label" for="defaultCheck1">
          Give Away?
        </label>
      </div>
      <div *ngIf='showPrice'>
        <h6 for="book-name" >Price $</h6>
        <input
          name='price'
          type="number"
          class="form-control w-25"
          placeholder="Insert item name"
          formControlName="price">
        <span class='text-danger' *ngIf='itemCreateForm.controls.price.invalid && itemCreateForm.controls.price.touched'>This field cannot be left empty!</span>
      </div>
      <h5 for="book-name">Item description</h5>
      <textarea
        name='description'
        type="text"
        class="form-control"
        placeholder="Describe your item"
        formControlName="description">
    </textarea>
    <h5 for="book-name">Choose category</h5>
    <select
      name='category'
      type="text"
      class="browser-default custom-select"
      placeholder="Insert item name"
      formControlName="category">
      <option value="furniture">Furniture</option>
      <option value="toys">Toys</option>
      <option value="books">Books</option>
      <option value="other">Other</option>
    </select>
    <span class='text-danger' *ngIf='itemCreateForm.controls.category.invalid && itemCreateForm.controls.category.touched'>This field cannot be left empty!</span>
    <span class='text-danger' *ngIf='itemCreateForm.controls.description.invalid && itemCreateForm.controls.description.touched'>You must add a description</span>
    </div>
    <label *ngIf='editMode'>File Name: {{this.itemCreateForm.value.title}}</label>
    <div class="custom-file">
      <input type="file" class="form-control-file" id="customFile" #filePicker (change)='onImagePicked($event)'>
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <div class='image-preview' *ngIf='imagePreview !== "" && imagePreview && itemCreateForm.get("image").valid'>
      <img [src]="imagePreview" [alt]="itemCreateForm.value.title">
    </div>
    <h6 *ngIf="!itemCreateForm.valid && itemCreateForm.touched && submitButtonClicked" class="help-block wrong-input">You must fill in the form correctly</h6>
    <button type='submit' class="btn btn-primary mt-3" >Add to collection</button>
  </form>
  </div>
</div>
