<div class="d-flex justify-content-center" *ngIf='isLoading'>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<app-info-modal [message]='infoMessage' [messageTitle]='loginOnErrorTitle' [btnClass]='btnClass' *ngIf='isErrorOnSignup' (close)='onHandleError()' [messageType]='errClass'></app-info-modal>
<div class="login">
  <div class="login-header">
    <h1>Signup</h1>
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" *ngIf='!isLoading'>
    <div class="login-form">
      <h4>ENTER YOUR EMAIL</h4>
      <input
        type="email"
        class="input"
        formControlName='email'>
        <br>
      <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="help-block">Please enter a valid email address</span>
      <h4>ENTER YOUR NAME</h4>
      <input
        type="text"
        class="input"
        formControlName="name">
        <br>
      <span *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched" class="help-block">Please enter your name</span>
      <h4>ENTER YOUR PASSWORD</h4>
      <input
        type="password"
        class="input"
        formControlName="password">
      <br>
      <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="help-block">Please enter a password
      </span>
      <h4>REPEAT YOUR PASSWORD</h4>
      <input
      type="password"
      class="input"
      formControlName="repeatPassword">
      <br>
      <span *ngIf="!signupForm.get('repeatPassword').valid && signupForm.get('repeatPassword').touched" class="help-block">Please confirm your password</span>
      <span *ngIf="differentPasswords" class="help-block">Your password do not match</span>
      <br>
      <button type="submit" class='login-button'>SIGNUP</button>
      <br>
      <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">You must fill in the form correctly</span>
      <h2 *ngIf='prohibittedEmail'>You are trying to use an email that is being used already</h2>
    </div>
  </form>
</div>
