<div class="d-flex justify-content-center" *ngIf='isLoading'>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="card" *ngFor='let item of favorites; index as i'>
  <h5 class="card-header">{{item.title}}: item N{{i}}</h5>
  <div class="row">
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">{{item.description}}</p>
        <h6 class="card-text" *ngIf='!item?.price; else elseBlock'>Free of charge</h6>
        <ng-template #elseBlock>Price: {{item?.price}}$</ng-template>
        <hr>
        <a button class="btn btn-primary mr-3">Add to cart</a>
        <a button (click)='onFavoriteRemove(item._id)' class="btn btn-danger">Remove from favorites</a>
      </div>
    </div>
    <div class="col-sm-4">
        <img [src]="item.imagePath" class='image-container' alt="">
    </div>
  </div>
</div>
