<h5 class='text-danger text-center'>This section is open for you for demo purposes only. Unless you have an admin permission you cannot perform any actions</h5>
<div class="justify-content-center align-items-center container w-50">
  <div class="row">
   <form [formGroup]="categoryCreateForm" id="new-item-form" (ngSubmit)="onSaveCategory()" enctype="multipart/form-data" class="form-margin-top">
     <div class="form-group">
       <h5 for="book-name">Category Name</h5>
       <input
         name='name'
         type="text"
         class="form-control"
         placeholder="Insert item name"
         formControlName="name">
       <span class='text-danger' *ngIf='categoryCreateForm.controls.name.invalid && categoryCreateForm.controls.name.touched'>This field cannot be left empty!</span>
       <h5 for="book-name">Category Link</h5>
       <input
         name='routerLink'
         type="text"
         class="form-control"
         placeholder="Insert Router Link"
         formControlName="routerLink">
       <span class='text-danger' *ngIf='categoryCreateForm.controls.routerLink.invalid && categoryCreateForm.controls.routerLink.touched'>This field cannot be left empty!</span>
       <h5 for="book-name">Add an image</h5>
       <div class="custom-file">
        <input type="file" class="form-control-file" id="customFile" #filePicker (change)='onImagePicked($event)'>
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <div class='image-preview' *ngIf='imagePreview !== "" && imagePreview && categoryCreateForm.get("image").valid'>
        <img [src]="imagePreview" [alt]="categoryCreateForm.value.title">
      </div>
     <button type='submit' class="btn btn-primary mt-3" >{{editMode? 'Edit Category': 'Add new Category'}}</button>
   </div>
   </form>
 </div>
